.container {
    width: 100%;
    height: auto;
    padding: 10px 300px;
}

.wrapper {
    width: auto;
    padding: 20px;
    height: auto;
    display: flex;
    align-items: center;
    margin: auto;
}

.leftWrapper{
    width: 50%;
    position: relative;
}

.posterImg {
    height: 45vh;
}

.rightWrapper{
    width: 50%;
}

.posterText {
    font-size: 35px;
    margin: 0 35px;
}

.posterText > p > span {
    font-size: 18px;
}

@media screen and (max-width: 970px) {
    .wrapper{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .posterText{
        font-size: 5vw;
        width: 70%;
        margin: 20px auto 0;
    }

    .container {
        padding: 0;
    }

    .leftWrapper{
        width: 70%;
    }
}