@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

.container {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url("/img/banner.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: relative;
}

.heroText {
  color: #fafafa;
  position: absolute;
  right: 60px;
  bottom: 40%;
  letter-spacing: 2px;
  text-align: center;
}

.text1 {
  font-size: 2.5vw;
  font-family: "Luxurious Script", cursive;
}

.text2 {
  text-transform: uppercase;
  font-size: 3.5vw;
  font-weight: 400;
  font-family: "Old Standard TT", serif;
}

.text3 {
  font-size: 2.2vw;
  font-weight: 100;
}

.button {
  margin-top: 50px;
  font-size: 0.9rem;
  display: inline-block;
  width: fit-content;
  padding: 10px;
  border: 1px solid #d1411e;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.button:hover {
  transform: scale(1.1);
  color: #d1411e;
  border-color: #fafafa;
}

@media screen and (max-width: 768px) {
  .heroText {
    color: #fafafa;
    position: absolute;
    right: 60px;
    bottom: 50%;
  }
  .text1 {
    font-size: 3vw;
  }

  .text2 {
    font-size: 4.2vw;
  }

  .text3 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 430px) {
  .container {
    background-position: 25%;
  }
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}
  .heroText {
    position: static;
  }
  .text1 {
    font-size: 6vw;
  }

  .text2 {
    font-size: 8vw;
  }

  .text3 {
    font-size: 5vw;
  }
}
